
{{#each surveys as |survey|}}



<div class="col-5 mx-auto">
  
  <h4>Title</h4>
  <input type="text" required value="{{survey.title}}">
  
  <div>
    <p>Option1</p>
    <input type="text" required value="{{survey.choices.option1}}">
  </div>
  
  <div>
    <p>Option2</p>
    <input type="text" required value="{{survey.choices.option2}}">
  </div>
  
  <div>
    <p>Option3</p>
    <input type="text" required value="{{survey.choices.option3}}">
  </div>
  
  <div>
    <p>Option4</p>
    <input type="text" required value="{{survey.choices.option4}}">
  </div>

</div>


<button type="button" class="btn btn-info edit-survey-button" data-toggle="modal" data-target="#modal-{{survey._id}}" data-owner="{{survey.owner}}">
Edit
</button>

<button class="delete-survey-button btn btn-info delete-survey-button" type="button" data-owner="{{survey.owner}}">Delete</button></p>



{{/each}}